/* --- GENERAL --- */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    color: #e5e5e5;
}

.layout {
    display: flex;
    height: 100vh;
}

/* Iconos */
.icon,
i {
    width: 20px;
    height: 20px;
    font-size: 18px;
}

/* --- MAIN CONTENT --- */

.main-content {
    flex: 1;
    overflow-y: auto;
    background: #f3f3f3;
    color: #333;
}

.container {
    padding: 32px;
}

.header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    color: #111;
}

.header p {
    margin-top: 4px;
    color: #555;
}

.stats-grid {
    margin-top: 32px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.stat-card {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: 0.2s;
}

.stat-card:hover {
    border-color: #007bff;
    transform: scale(1.03);
}

.stat-title {
    color: #666;
    font-size: 14px;
}

.stat-value {
    font-size: 28px;
    font-weight: bold;
}

.stat-icon {
    padding: 12px;
    background: #eee;
    border-radius: 10px;
    font-size: 22px;
}

/* Icon colors */
.stat-icon.primary {
    color: #007bff;
}
.stat-icon.green {
    color: #22c55e;
}
.stat-icon.yellow {
    color: #eab308;
}
.stat-icon.red {
    color: #ef4444;
}

.card {
    background: white;
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 12px;
}

.tickets-card h2 {
    color: #222;
    margin-top: 0;
    margin-bottom: 20px;
}

.ticket {
    background: #f0f0f5;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    transition: 0.2s;
}

.ticket:hover {
    border-color: #007bff;
    transform: scale(1.02);
}

.ticket-header {
    display: flex;
    gap: 10px;
    margin-bottom: 6px;
}

.ticket-id {
    font-family: monospace;
    color: #777;
}

.status {
    padding: 4px 7px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid;
}

/* Status colors */

.status.pending {
    color: #eab308;
    background: #fff7cc;
    border-color: #f5e08a;
}

.status.completed {
    color: #22c55e;
    background: #d9ffe8;
    border-color: #9effc5;
}

.ticket-time {
    color: #777;
    font-size: 14px;
}
