*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(221, 221, 221);
}

header{
    background-color: rgb(139, 200, 172);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    display: flex;
}

header h1{
    margin-top: 10px;
}

header div{
    height: 100%;
    margin-left: auto;
    text-align: right;
    margin-right: 20px;
}