<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="../Css/dashboard.css" />
    </head>

    <body>
        <div class="layout">
            <!-- SIDEBAR -->
            <aside id="nav" class="sidebar"></aside>

            <!-- CONTENIDO PRINCIPAL -->
            <main class="main-content">
                <div class="container">
                    <!-- Título -->
                    <div class="header">
                        <h1 id="welcome"></h1>
                        <p>Resumen de tickets y actividad reciente</p>
                    </div>

                    <!-- TARJETAS DE ESTADÍSTICAS -->
                    <div class="stats-grid">
                        <div class="stat-card">
                            <div>
                                <p class="stat-title">Total Tickets</p>
                                <p class="stat-value" id="totalTickets"></p>
                            </div>
                            <div class="stat-icon primary">
                                <i data-lucide="bar-chart-2"></i>
                            </div>
                        </div>

                        <div class="stat-card">
                            <div>
                                <p class="stat-title">Resueltos</p>
                                <p class="stat-value" id="completedTickets"></p>
                            </div>
                            <div class="stat-icon green">
                                <i data-lucide="check"></i>
                            </div>
                        </div>

                        <div class="stat-card">
                            <div>
                                <p class="stat-title">En Progreso</p>
                                <p class="stat-value" id="pendingTickets"></p>
                            </div>
                            <div class="stat-icon yellow">
                                <i data-lucide="clock"></i>
                            </div>
                        </div>
                    </div>

                    <!-- TICKETS RECIENTES -->
                    <div class="">
                        <h2>Tickets Recientes</h2>

                        <div class="tickets-card" id="tickets-card"></div>
                    </div>
                </div>
            </main>
        </div>

        <!-- LUCIDE & SCRIPTS -->
        <script src="https://unpkg.com/lucide@latest"></script>
        <script type="module" src="../Js/dashboard.js"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
