<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Usuarios</title>
        <link rel="stylesheet" href="../Css/listUsers.css" />
    </head>
    <body>
            <aside id="nav" class="sidebar"></aside>

            <div class="container">
                <div class="header">
                    <div>
                        <h1>Usuarios</h1>
                        <p>Gestiona los usuarios del sistema</p>
                    </div>
                </div>

               <div id="usersGrid" class="users-grid"></div>


                <div id="emptyMessage" class="empty hidden">
                    No se encontraron usuarios
                </div>
            </div>
        </div>

        <script type="module" src="../js/listUser.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
