<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Lista de Tickets</title>
        <link rel="stylesheet" href="../Css/ListTickets.css" />
    </head>
    <body>
        <div class="layout">
            <aside id="nav" class="sidebar"></aside>
            <div id="modal"></div>

            <div class="main-content">
                <div class="header">
                    <div>
                        <h1>Tickets</h1>
                        <p>
                            Gestiona y monitorea todos los tickets del sistema
                        </p>
                    </div>
                    <button class="btn-primary" id="newTicketBtn">
                        Nuevo Ticket
                    </button>
                </div>

                <div id="modal"></div>

                <div class="tickets" id="ticketsContainer"></div>
            </div>
        </div>

        <script type="module" src="../js/listTickets.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
        <script type="module">
            import {
                modalTicket,
                openTicketModal,
                initTicketModal,
            } from "../js/elements.js";

            // Insertar el modal al DOM
            document.body.insertAdjacentHTML("beforeend", modalTicket);

            // Botón abrir modal
            document
                .getElementById("newTicketBtn")
                .addEventListener("click", openTicketModal);

            // Inicializar eventos del modal
            initTicketModal();
        </script>
    </body>
</html>
