<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Ticket Details</title>
        <link rel="stylesheet" href="../Css/global.css" />
        <link rel="stylesheet" href="../Css/Ticket.css" />
    </head>
    <body>
        <aside class="sidebar">
            <div class="sidebar-header">
                <h1>Helpdesk</h1>
            </div>
            <div class="user-box">
                <div class="avatar">
                    <span>MG</span>
                </div>
                <div class="user-info">
                    <p class="name">María García</p>
                    <p class="role">Administrador</p>
                </div>
            </div>

            <nav class="sidebar-nav">
                <a href="./dashboard.html" class="nav-item">
                    <i data-lucide="home"></i>
                    Home
                </a>

                <a href="./listTickets.html" class="nav-item">
                    <i data-lucide="list-todo"></i>
                    Tickets
                </a>

                <a href="./listUsers.html" class="nav-item active">
                    <i data-lucide="user"></i>
                    Usuarios
                </a>

                <button class="nav-button primary">
                    <i data-lucide="plus"></i>
                    Nuevo Ticket
                </button>
            </nav>

            <div class="sidebar-footer">
                <button class="nav-item logout">
                    <i data-lucide="log-out"></i>
                    Cerrar Sesión
                </button>
            </div>
        </aside>
        <div class="container">
            <div class="top-bar">
                <a href="listTickets.html" class="btn-ghost">
                    <i data-lucide="arrow-left"></i>
                    Volver a Tickets
                </a>
                <div class="actions">
                    <button class="btn-outline" id="deleteTicketButton">
                        Eliminar
                    </button>
                    <button class="btn-primary" id="closeTicket">
                        Cerrar Ticket
                    </button>
                </div>
            </div>

            <div class="header-info">
                <div>
                    <p class="ticket-id" id="ticketId"></p>
                    <p id="ticketUserName"></p>
                    <h1 id="ticketTitle"></h1>
                </div>

                <div id="status" class="badge status progress">
                    <i data-lucide="clock"></i>
                    <span id="ticketStatus"></span>
                </div>
            </div>

            <div class="card">
                <h2>Descripción</h2>
                <p id="ticketDescription"></p>
            </div>
        </div>

        <script type="module" src="../js/ticket.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
