<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Ticket Details</title>
        <link rel="stylesheet" href="../Css/global.css" />
        <link rel="stylesheet" href="../Css/Ticket.css" />
    </head>
    <body>
        <aside id="nav" class="sidebar"></aside>

        <div class="container">
            <div class="top-bar">
                <a href="../views/dashboard.html" class="btn-ghost">
                    <i data-lucide="arrow-left"></i>
                    Volver a Tickets
                </a>
                <div class="actions">
                    <button class="btn-outline">Editar</button>
                    <button class="btn-primary" id="closeTicket">
                        Cerrar Ticket
                    </button>
                </div>
            </div>

            <div class="header-info">
                <div>
                    <p class="ticket-id" id="ticketId"></p>
                    <p id="ticketUserName"></p>
                    <h1 id="ticketTitle"></h1>
                </div>

                <div id="status" class="badge status progress">
                    <i data-lucide="clock"></i>
                    <span id="ticketStatus"></span>
                </div>
            </div>

            <div class="card">
                <h2>Descripción</h2>
                <p id="ticketDescription"></p>
            </div>
        </div>

        <script type="module" src="../js/ticket.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
